* { /*CSS RESET*/
    outline: 0;
    margin: 0;
    padding: 0;
    border: 0;
}

body {
    font-family: 'Nunito', sans-serif;
}

.card {
    width: 700px;
    margin: 0 auto; /*Centra un div*/
    border: 2px solid gray;
    -webkit-border-top-left-radius: 5px;
    -webkit-border-top-right-radius: 5px;
    -moz-border-radius-topleft: 5px;
    -moz-border-radius-topright: 5px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.card-header {
    background-color: #18a2b8;
    height: 100px;
}

.card-header img {
    width: 100px;
    position: relative;
    top: 45px;
    left: 45px;
}

.card-body {
    padding-top: 50px;
    padding-left: 20px;
    padding-bottom: 20px;
}

.icon {
    margin-right: 10px;
    width: 15px;
}

h2 {
    margin-top: 15px;
}

p {
    margin-top: 10px;
    margin-bottom: 10px;
}

button {
    background-color: purple;
}